/*
 * learnClient.css
 * Style sheet for the LearnFX client
 */


.tables {
  baseColor: white;
}

/*
#table {
  baseColor: white;
  strongBaseColor: white;
  lightMarkColor: white;
  markColor: white;
}
*/



